# Deepgram Configuration
VITE_DEEPGRAM_API_KEY=

# Azure Speech Configuration
VITE_AZURE_SPEECH_KEY=
VITE_AZURE_SPEECH_REGION=

# AssemblyAI Configuration
VITE_ASSEMBLYAI_API_KEY=

# Speechmatics Configuration
VITE_SPEECHMATICS_API_KEY=

# Gladia Configuration
VITE_GLADIA_API_KEY=

# OpenAI Configuration
VITE_OPENAI_API_KEY=
